.weather-box {
 /* border: 1px solid #000; */
 background: linear-gradient(20deg, rgb(135, 213, 189), rgb(238, 223, 201));
 min-width: 200px;
 padding: 20px;
 margin: 0 25px ;
 box-sizing: border-box;
 border-radius: 15px;
}
.weather-box .weather-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.weather-title .fa-map-marker-alt {
  font-size: large;
  color: rgba(255, 0, 0, 0.4);
}
.weather-box .weather-main{
  display: flex;
  align-items: center;
}

.weather-main .weather-temperature h2 {
  font-size: 35px;
  
}
.weather-box .weather-pic {
  width:150px;
  height: 150px;
}
.weather-pic img {
  width: 100%;
}
.weather-sub {
  display: flex;
  flex-direction: column;
}
.weather-sub .fas {
  color: #004;
}