

.inputLabel {
  margin:15px;
  /* flex-wrap: wrap; */
  display: inline-block;
  max-width: 60%;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0px 0.5rem;
  min-height: 34px;
  border: 1px solid black;
  font-size: 20px;
}

.my-input {
  background-color: transparent;
  outline: 0;
  padding-left: 2px;
  min-width: 10rem;
  
  border: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 0.2rem;
  flex: 1;
  font-size: 20px;
}